body {
    padding-top: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

.card {
    background: #dbd2cb;
    width:300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);

}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.card-content {
    padding: 15px;
    text-align: center;

}

.card-content h2 {
    margin: 10px;
}

.card-content p {
    font-size: 14px;
    color: #555;

}

.rating {
    color: gold;
    margin: 8px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;

}

.price {
    font-size: 22px;
    font-weight: 700;
   color: #222;
}

.off {
    font-size: 18px;
    font-weight: 600;
    color: #1a8f3c;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {

    background-color: #333;
}

.footer {
    margin-top: 12px;
}



